GOOGLE_SHEET_ID=ID_SPREADSHEET_ANDA
GOOGLE_SERVICE_ACCOUNT_JSON={"type":"service_account","project_id":"..."}
SETUP_TOKEN=ganti-dengan-token-rahasia
APP_SECRET_KEY=ganti-dengan-rangkaian-acak-yang-panjang
APP_TIMEZONE=Asia/Jakarta
